<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <form method="POST" action="/spin-up-image">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Container name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cmd}}
                    <tr>

                        <td>
                            <input type="checkbox" name="{{this}}" value="{{this.serviceName}}">
                            {{this.serviceName}}<br>
                        </td>
                        <td>
                            {{#if this.active}}
                            <a "/read-logs/{{this.serviceName}}" action="/read-logs/{{this.serviceName}}"
                                class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-list-alt"></span> Logs
                            </a>

                            <a href="/alt-service/{{this.serviceName}}" class="btn btn-danger btn-sm" onclick="changeStopLabelToStopping('{{this.serviceName}}')">
                                <span class="glyphicon glyphicon-stop"></span> <span id="{{this.serviceName}}">Stop</span> 
                            </a>
                            {{/if}}
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <button type="submit" class="btn btn-default">Execute</button>

        </form>
    </div>


    <script>
        function changeStopLabelToStopping(label) {
            document.getElementById(label).innerHTML = "Stopping...";
        }
    </script>

</body>

</html>